html, body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	line-height: 1.4;
}


section {
	padding: 60px;
	box-sizing: border-box;
	border: 0;
}

h1 {
    font-family: 'Montserrat';
	font-size: 100px;
	text-align: center;
	font-weight: bold;
	width: 75%;
	margin: auto;
    margin-bottom: 60px;
    margin-top: 60px;
    color: #027dc5;
}

h2 {
    font-family: 'Montserrat';
	font-size: 26px;
	text-align: center;
	font-weight: normal;
	width: 75%;
	margin: auto;
    margin-bottom: 60px;
    margin-top: 60px;
    color: #fff;
    background-color: #a0c3e2;
    border: 1px solid #c8c8c8;
}

p {
	padding: 0;
    margin: 0 0 16px 0;
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
    color: #027dc5;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Montserrat';
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255,255,255,1)
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.nav-links a {
    color: #d9dad9;
    text-decoration: none;
    font-size: 18px;
}

.contents {
	padding: 40px 0 40px 0;
	width: 400px;
	margin: auto;
	box-sizing: border-box;
	border-top: none;
	border-bottom: none;
}

.dot {
    height: 300px;
    width: 300px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
    font-size: 26px;
    color: #fff;
}

.dot .text {
    padding-top: 100px;
}

section#section h1 {
	font-size: 180px;
	margin-bottom: 180px;
    padding: 0px;
    text-align: left;
    line-height: 1;
    color: black;
}

section#section1 {
	border: none;
	background-color: #f8f8f6;
	background-position: center center;
	background-repeat: repeat-x;
}

section#section1 .contents img {
	float:right;
	width: 400px; 
	height: 300px;
	margin: 0 0 20px 40px;
	border: 1px solid #fff;
}

section#section2 {
	border: none;
	background-color: #f0f0f0;
	background-position: center center;
	background-repeat: repeat-x;
}

section#section2 .contents .photo {
	width: 50%;
	display: inline-block;
	box-sizing: border-box;
	padding: 0 40px 24px 0;
	clear: both;
}

section#section2 .contents .photo img {
	width: 200px; 
	height: 150px;
	margin: 0 12px 0 0;
	float: left;
}

section#section2 .contents .photo h3 {
	font-size: 20px;
	margin: 0 0 6px 0;
	padding: 0;
}

section#section2 .contents .photo p {
	margin: 0 0 10px 0;
	padding: 0;
}

section#section3 {
	border: none;
	background-color: #d9dad9;
	background-position: center center;
	background-repeat: repeat-x;
}

footer {
	background-color: #333;
	color: #fff;
}