header {
    margin-bottom: 3rem;
}

p {
    line-height: 1.6;
}

div a.see-all {
    font-size: 0.8em;
    text-transform: uppercase;
}

li h1 {
    font-size: 2.5rem;
    font-weight: lighter;
}

section h2 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: lighter;
}

section.cast ul li a img {
    width:100%;
}

section.cast ul li {
    width:25%;
}

ul.shows li#game-of-thrones,li#unbreakable-kimmy-schmidt {
    border-top: 1px solid black;
}

header nav ul li.selected a{
    color: black;
    font-weight: bold;
}

section.cast ul li a div {
    font-size: 0.8rem;
}

section.cast ul li a div:nth-child(2) {
    font-weight: bold;
}

section.cast ul li a div:nth-child(3) {
    font-style: italic;
}

ul.shows li#game-of-thrones section.seasons ul li:last-child::after {
    content: "*";
}

ul.shows li#game-of-thrones section.seasons::after {
    content: "* Final Season";
    font-size: 0.7rem;
    color: #999;
}